/* ****** Header & Panel Navigation ********* */

.Header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
  line-height: var(--header-height);
  background-color: var(--second-color);

  &-container{
    position: relative;
    margin: 0 auto;
    max-width: var(--container-width);
  }
}

.Logo{
  position: absolute;
  z-index: 999;
  & a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all .3s ease;

    &:hover{ 
      opacity:.75; 
    }
  }

  & img{
    padding: .25rem;
    width: auto;
    height: var(--header-height);
  }
}

.Panel{
  position: fixed;
  z-index: 998;
  top: 0;  /* 4 lados a 0 para que se estire */
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: auto;
  background-color: var(--second-modal-color);
  transition: transform .3s ease;
  /* De arriba */
 /*  transform: translate(0, -100%); */
  /* De abajo */
  /*   transform: translate(0, 100%); */
  /* De la izquierda */
  transform: translate(-100%, 0);
  /* De la derecha */
 /*   transform: translate(100%, 0); */

  
 &.is-active{transform: translate(0,0);}
  &-btn{
    position: absolute;
    z-index: 999;
    top: -.5rem;
    right: 0;
  
  }
}

.hamburger{
  &:focus{
    outline:0;
    border:0;
  }
  &-inner,
  &-inner:after,
  &-inner:before{
    background-color: var(--main-color);
  }
}

@media screen and(min-width:64em){
  .Header-container{display: flex;}

  .Logo{
    position: static;
    width: 10%;
  }
  .Panel{
    position: static;
    width: 90%;
    display: flex;
    overflow-y: visible;
    background-color: transparent;
    transform: translate(0,0);

    &-btn{
      display: none;
    }
  }
}