/* Pagination */

.Pagination{
  color: var(--second-color);
  & nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  & >*{
    font-size: 4vw;
    @media screen and(min-width:37.5em) {
      font-size: 1.25rem;
    }
  }

  & .current{
    font-weight: bold;
    font-size: 2em;
  }
}