/* ********** Reset ********** */
html {
  box-sizing: border-box;
  font-family: var(--main-font), var(--alternate-font);
  font-size: var(--font-size);
  line-height:  var(--line-height);
  color: var(--text-color);
  background-color: var(--bg-modal-color);
}

*, 
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body { overflow-x: hidden; }

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
  transition: all .3s ease-out;

  &:hover { color: var(--link-hover-color); }
}

img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  margin-left: 1rem;
  list-style-position: inside;
}

::selection {
  background-color: var(--main-color);
  color: var(--second-color);
}