 /* ********** WordPress Custom Header ********** */
.WP-Header {
  position: relative;
  width: 100%;
  height: 100vh;

  &-branding {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &-title { font-size: 5vw; }

  &-description {
    width: 60%;
    font-size: 3.5vw;

    @media screen and (min-width: 64em) {
      width: 80%;
      font-size: 2.5vw;
    }
  }
}

.wp-custom-header {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 1);

  & > img,
  & > iframe,
  & > video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit : cover;
    object-position: 0%;
    opacity: .5;
  }
}

.wp-custom-header > button,
#wp-a11y-speak-polite { display: none; }